body {
  font-family: sans-serif;
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
#main-container {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 4;
}
#contacts {
  grid-column: 4;
  grid-row: 1/4;
  border-style: solid;
  border-radius: 1em;
  margin: 1em;
}
#contacts h1 {
  text-align: center;
}
.contact-card{
  display:grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  border : 1px solid;
  margin-right: 13%;
}
.contact-card img{
}
.contact-card p{
  grid-column:2;
}
#user-profile {
  grid-column: 1/4;
  grid-row: 1;
  border-style: solid;
  border-radius: 1em;
  margin: 1em;
}
#posts {
  grid-column: 1/4;
  grid-row: 2;
  border: 1px solid;
  border-radius: 1em;
  margin:1em;
}
#header {
  background-color: rgb(64, 173, 224);
  padding: 5px;
  text-align: right;
}
#header button{
  margin:6px;
}

